In [1]:
print ('Ini kelas Algoritma!')

Ini kelas Algoritma!

In [2]:
print ("Ini kelas Algoritma!")

Ini kelas Algoritma!

In [3]:
print ("I dont understand what are you saying.")

I dont understand what are you saying.

In [88]:
print ('I don't understand what are you saying.')

SyntaxError: invalid syntax (Temp/ipykernel_7300/376616416.py, line 1)

In [5]:
print ('He is such a "GENIUS"')

He is such a "GENIUS"

In [89]:
print ("He is such a "GENIUS""")

SyntaxError: invalid syntax (Temp/ipykernel_7300/2326454071.py, line 1)

In [7]:
print ('Hello! Nice to meet you.')

Hello! Nice to meet you.

In [8]:
print ("Hey! The moon is beautiful, isn't it?")

Hey! The moon is beautiful, isn't it?

In [9]:
mahasiswa = 42
uang_di_dompet = 100000
print (mahasiswa)
print (uang_di_dompet)
print (mahasiswa*uang_di_dompet)

42
100000
4200000

In [10]:
mahasiswa_11 = 42
uang_di_atm = 50000
print (mahasiswa_11)
print (uang_di_atm)
print (mahasiswa_11*uang_di_atm)

42
50000
2100000

In [11]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = 'Saputra '
print (nama_depan + nama_tengah + nama_belakang)

Angga Saputra

In [12]:
nama_depan = 'Stefanny '
nama_tengah = 'Marsauli '
nama_belakang = 'Winowod '
print (nama_depan + nama_tengah + nama_belakang)

Stefanny Marsauli Winowod

In [13]:
nama_panggilan = "Tepy "
umur = "19 tahun, "
hobi = "suka mendengarkan musik, "
hal_yang_tidak_disukai = "nggak suka cicak, kecoa, dan teman-temannya"
print (nama_panggilan + umur + hobi + hal_yang_tidak_disukai)

Tepy 19 tahun, suka mendengarkan musik, nggak suka cicak, kecoa, dan teman-temannya

In [14]:
nama = 'Stefanny '
nim = '2108541011 '
prodi = 'Matematika '
universitas = 'Udayana'
angkatan = ' 2021'
print (nama + nim + prodi + universitas + angkatan)

Stefanny 2108541011 Matematika Udayana 2021

In [15]:
# 5.2 input

In [16]:
nama = input ('siapa nama kamu? ')
universitas = input ('kuliah di mana nih, ' + nama + '? ')
jurusan = input ('wahhh, jurusan apa tuh? ')
print ('Halo '+ nama + ' kuliah di ' + universitas + ' ya? ' + 'Jurusan ' + jurusan + ' lagi. Keren banget dehhh!!! Semangat ya, kamu keren!')

siapa nama kamu? Stefanny
kuliah di mana nih, Stefanny? Unud
wahhh, jurusan apa tuh? Matematika
Halo Stefanny kuliah di Unud ya? Jurusan Matematika lagi. Keren banget dehhh!!! Semangat ya, kamu keren!

In [17]:
barang = input ('nama barang? ')
stok_barang = input ('berapa stok yang ada? ')
print (barang + ' ada ' + stok_barang + ', siap dijual.')

nama barang? Laptop
berapa stok yang ada? 11
Laptop ada 11, siap dijual.

In [18]:
sapaan = input ('Hallo? ')
kegiatan = input ('lagi apa nih? ')
print ('ooo gituu. jangan lupa minum, ya!')

Hallo? haii
lagi apa nih? ngetik aja nih
ooo gituu. jangan lupa minum, ya!

In [19]:
kelas = input ('Kamu ada di kelas apa? ')
jumlah_mahasiswa = input ('Ada berapa jumlah mahasiswanya dikurang kamu? ')
print ('Jangan lupa kasih tau ' + jumlah_mahasiswa + ' mahasiswa lainnya, kelas ' + kelas + ' besok UTS strukbar.')

Kamu ada di kelas apa? A
Ada berapa jumlah mahasiswanya dikurang kamu? 41
Jangan lupa kasih tau 41 mahasiswa lainnya, kelas A besok UTS strukbar.

In [20]:
# 5.3

In [21]:
uang_di_dompet11 = input ("Berapa jumlah uang di dompet anda? ")
uang_di_bank11 = input ("Berapa jumlah uang anda di bank? ")
print ("Total uang anda adalah Rp " + uang_di_dompet11 + uang_di_bank11)

Berapa jumlah uang di dompet anda? 12000
Berapa jumlah uang anda di bank? 20000
Total uang anda adalah Rp 1200020000

In [22]:
uang_di_dompet11 = input ('Berapa jumlah uang di dompet anda? ' + 'Rp')
uang_di_bank11 = input ('Berapa jumlah uang anda di bank? '+ 'Rp')
total_uang = int (uang_di_dompet11) + int (uang_di_bank11)
print ("Total uang anda adalah Rp"+ str (total_uang))

Berapa jumlah uang di dompet anda? Rp12000
Berapa jumlah uang anda di bank? Rp20000
Total uang anda adalah Rp32000

In [23]:
kelas_a = input ("Berapa jumlah mahasiswa kelas A? ")
kelas_b = input ("Berapa jumlah mahasiswa kelas B? ")
jumlah_mahasiswa = int (kelas_a) + int (kelas_b)
print ("Jumlah mahasiswa dari kelas A dan B yaitu "+ str (jumlah_mahasiswa)+ ' mahasiswa')

Berapa jumlah mahasiswa kelas A? 42
Berapa jumlah mahasiswa kelas B? 42
Jumlah mahasiswa dari kelas A dan B yaitu 84 mahasiswa

In [24]:
bilangan_ke_1 = input ('Berapa bilangan ke 1? ')
bilangan_ke_2 = input ('Berapa bilangan ke 2? ')
bilangan_ke_3 = input ('Berapa bilangan ke 3? ')
jumlah_bilangan = int(bilangan_ke_1) + int(bilangan_ke_2) + int (bilangan_ke_3)
print ("Jumlah dari ketiga bilangan tersebut adalah "+ str(jumlah_bilangan))

Berapa bilangan ke 1? 10
Berapa bilangan ke 2? 20
Berapa bilangan ke 3? 20
Jumlah dari ketiga bilangan tersebut adalah 50

In [25]:
type (uang_di_dompet11)

str

In [26]:
type (total_uang)

int

In [27]:
type (uang_di_bank11)

str

In [28]:
bilangan_pertama = input ("Masukkan bilangan pertama: ")
bilangan_kedua = input ("Masukkan bilangan kedua: ")
jumlah = float (bilangan_pertama) + float (bilangan_kedua)
print ("Jumlah kedua bilangan adalah " + str(jumlah))

Masukkan bilangan pertama: 15
Masukkan bilangan kedua: 12
Jumlah kedua bilangan adalah 27.0

In [29]:
# 5.4 Formatted String

In [30]:
nama = "Vladimir"
pekerjaan = "guru"
institusi = "SD Pertiwi"
print (nama + ' adalah seorang '+ pekerjaan + ' di ' + institusi + '.')

Vladimir adalah seorang guru di SD Pertiwi.

In [31]:
nama = 'Stefanny'
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print (nama + ' adalah seorang ' + pekerjaan + ' di '+ institusi + '.')

Stefanny adalah seorang mahasiswa di Universitas Udayana.

In [32]:
print (f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Stefanny adalah seorang mahasiswa di Universitas Udayana.

In [33]:
print (f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Stefanny adalah seorang mahasiswa di Universitas Udayana.

In [34]:
# 5.5 Strings Index

In [35]:
kelas = 'ini kelas algoritma'

In [36]:
print(kelas [0:3])

ini

In [37]:
print(kelas [0:-1])

ini kelas algoritm

In [38]:
print (kelas[5:-1])

elas algoritm

In [39]:
print(kelas [2:-1:3])

ieslrm

In [40]:
print(kelas [:-3])

ini kelas algori

In [41]:
print(kelas [1:])

ni kelas algoritma

In [42]:
print(kelas [:])

ini kelas algoritma

In [43]:
hari = 'hari sabtu liburan'

In [44]:
print(hari [0:2])

ha

In [45]:
print(hari [3:])

i sabtu liburan

In [46]:
print(hari [:])

hari sabtu liburan

In [47]:
print(hari [0:-2])

hari sabtu libur

In [48]:
print(hari [4:-2])

 sabtu libur

In [49]:
# 5.6 Strings Methods

In [50]:
judul = 'Bali Surga Dunia'

In [51]:
print (len(judul))

16

In [52]:
judul.upper()

'BALI SURGA DUNIA'

In [53]:
judul.lower()

'bali surga dunia'

In [54]:
judul.find('Surga')

5

In [55]:
judul.find('bali')

-1

In [56]:
judul.replace ('Bali', 'Indonesia')

'Indonesia Surga Dunia'

In [57]:
print('Bali' in judul)

True

In [58]:
print ('bali' in judul)

False

In [59]:
judul = 'Matematika Ilmu yang Menyenangkan'

In [60]:
print (len(judul))

33

In [61]:
judul.upper()

'MATEMATIKA ILMU YANG MENYENANGKAN'

In [62]:
judul.lower()

'matematika ilmu yang menyenangkan'

In [63]:
judul.replace('Menyenangkan', 'Muantap')

'Matematika Ilmu yang Muantap'

In [64]:
# 5.7 Operasi Matematika di Python

In [65]:
print (2+3)
print (2-3)
print (2*3)
print (7/3)
print (7//3)
print (7%3)
print (2**3)
x = 3
x+=1
print (x)
x-=2
print (x)
x*=3
print(x)

5
-1
6
2.3333333333333335
2
1
8
4
2
6

In [66]:
print (10+5)
print (10-5)
print (10*5)
print (12/4)
print (12//4)
print (12%4)
print (10**5)
x = 5
x+=3
print (x)
x-=10
print (x)
x*=5
print(x)

15
5
50
3.0
3
0
100000
8
-2
-10

In [67]:
# 5.8 Operator Perbandingan di Python

In [68]:
x =9>7
print (x)
x = 7<9
print (x)
x = 9 >=7
print (x)
x = 7 <=9
x = 9 == 9
print (x)
x = 9 !=10
print (x)

True
True
True
True
True

In [69]:
x = 7>9
print (x)
x = 9<7
print (x)
x = 7 >=9
print (x)
x = 9 <=7
x = 9 == 10
print (x)
x = 9 !=9
print (x)

False
False
False
False
False

In [70]:
# 5.9 Operator Logika di Python

In [71]:
buah_manggis11 = 10
buah_mangga11 = 15
print (buah_manggis11 > 8 and buah_mangga11 < 20)

True

In [72]:
print (buah_manggis11 < 8 or buah_mangga11 < 20)

True

In [73]:
print (buah_manggis11 < 8 or buah_mangga11 > 20)

False

In [74]:
print (not (buah_manggis11 < 8 or buah_mangga11 > 20))

True

In [75]:
sepatu = 33
sendal = 12
print (sepatu > 23 or sendal < 5)

True

In [76]:
print (sepatu < 35 or sendal < 5)

True

In [77]:
print (sepatu < 23 or sendal > 13)

False

In [78]:
print (not (sepatu < 23 or sendal > 13))

True

In [79]:
# 5.10 Operator if di Python

In [80]:
nilai = float (input("Nilai anda adalah ")) 
if nilai >= 80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print ("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print ("Anda mendapatkan nilai C")
    print ("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print ("Anda mendapatkan nilai D")
    print ("Ulang lagi tahun depan")
if nilai < 50:
    print ("Anda mendapatkan nilai E")
    print ("Sampai jumpa tahun depan")

Nilai anda adalah 99
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [81]:
nilai = float (input("Nilai anda adalah ")) 
if nilai >= 80:
    print ("Anda mendapatkan nilai A")
    print ("Bagus sekali, selamat!")
elif nilai >=70:
    print ("Anda mendapatkan nilai B")
    print ("Tingkatkan prestasimu!")
elif nilai >=60:
    print ("Anda mendapatkan nilai C")
    print ("Lain kali musti lebih baik")
elif nilai >=50:
    print ("Anda mendapatkan nilai D")
    print ("Ulang lagi tahun depan")
else:
    print ("Anda mendapatkan nilai E")
    print ("Sampai jumpa tahun depan")

Nilai anda adalah 33
Anda mendapatkan nilai E
Sampai jumpa tahun depan

In [82]:
tinggi = float (input ("Berapakah tinggi anda? "))
cm_atau_inci = input ("Tinggi dalam cm atau inci? ")

if cm_atau_inci.upper()== 'CM':
    tinggi = tinggi*0.393701
    print ('Tinggi anda adalah ' + str(tinggi) + " inci")
elif cm_atau.upper()== 'INCI':
    tinggi = tinggi*0.393701
    print (f"Tinggi anda adalah {tinggi} cm")

Berapakah tinggi anda? 159
Tinggi dalam cm atau inci? cm
Tinggi anda adalah 62.598459000000005 inci

In [83]:
# 5.11 While loop

In [84]:
a = 0
while a < 5:
    print ("Angka " + str (a)+ " masih di bawah 5")
    a += 1

Angka 0 masih di bawah 5
Angka 1 masih di bawah 5
Angka 2 masih di bawah 5
Angka 3 masih di bawah 5
Angka 4 masih di bawah 5

In [85]:
a = 0
while a < 5:
    print (a * '*')
    a += 1

*
**
***
****

In [86]:
a = 0
while a < 11:
    print ("Angka " + str (a)+ " masih di bawah 11")
    a += 1

Angka 0 masih di bawah 11
Angka 1 masih di bawah 11
Angka 2 masih di bawah 11
Angka 3 masih di bawah 11
Angka 4 masih di bawah 11
Angka 5 masih di bawah 11
Angka 6 masih di bawah 11
Angka 7 masih di bawah 11
Angka 8 masih di bawah 11
Angka 9 masih di bawah 11
Angka 10 masih di bawah 11

In [87]:
a = 0
while a <11:
    print (a * '*')
    a += 2

**
****
******
********
**********